.ipynb_checkpoints
**/.ipynb_checkpoints
.DS_Store
**/.DS_Store
__pycache__
**/__pycache__
*.egg*
dist
.vscode
.idea

.env
.venv
venv
.penv
penv
oscur_datasets
auctus

results
output
tmp*
*checkpoint*

model
model*
**/model*
*.bak

dataset*

*.out

overlay*
Miniconda3*
Miniforge3*
