.ipynb_checkpoints
**/.ipynb_checkpoints
.DS_Store
**/.DS_Store
__pycache__
**/__pycache__
*.egg*
dist
.vscode
.idea

.env
.venv
oscur_datasets
auctus

results
output
tmp*
*checkpoint*

model
*.bak

dataset